body{
  text-align: center;
  color:#424C4F;
  font-size: 1.5rem;
}
a{
  text-decoration: none;
  color:#424C4F;
}
a:hover{
  color:#548A9C;
}

h1,h2,h3{
  font-family: "DM Serif Display"
}

.barra{
  background-color: #424C4F;
  color:#F0FCFF;
  height: 3%;
  font-size: 1rem;
}

.barra a{
  color:#F0FCFF;
  text-decoration: none;
}

.barra a:hover{
  color:#70B8CF;
}
#carouselEx{
  height:100px;
}

.fondo{
  background-image: url(../images/fondo.jpg);
  padding:  15% 30%;
  background-position: center;
  background-size: cover;
  margin:0;
}
.no-bullets{
  list-style-type: none;
}
.row{
  padding:  0;
}

.col{
  padding: 2% 5%;
}

.titulo{
  background-color: #424C4F;
  color:#F0FCFF;
  padding: 5%;
  border:solid #70B8CF 7px;
  border-radius: 50px;
}

.sec-color{
  background-color: #548A9C;
  color:#F0FCFF;
  padding: 3% 20%;
}

.sec-bco{
  background-color: #F0FCFF;
  color:#548A9C;
  padding: 3% 15%;
}

.linea{
  border-top: #F0FCFF  solid 10px;
  opacity:1;
  margin:30px auto 30px auto;
  width:10%;
}

.profile-picture{
  width:50%;
  margin:3px;
}

.img-we-are{
  margin:7px;
  border: solid #70B8CF 5px;
  border-radius: 2%;
}

.office{
  font-size: 1rem;
}
.card{
  border: solid #F0FCFF 10px;
  border-radius: 2%;
  background-color: #548A9C;
  color: #F0FCFF;
  margin:2% auto;
  padding:3%;
}
.med{
  background-color: #548A9C;
}
.med a{
  text-decoration: none;
  color:#F0FCFF;
}
.med a:hover{
  color:#70B8CF;
  display: inline-block;
}

.der{
  text-align: right;
  display: inline-block;
}

.izq{
  text-align: left;
}
